plugin: aws_ec2

# Define one or more regions here
regions:
  - us-east-1
  - us-west-1

# Define a filter that identifies all machines related to your task
# Supports the use of multiple tags as well
filters:
  tag:UUID: 2234c633-a711-4f40-a219-1b6410b9e98b

# Group the machines further by role tag
# This could also be done by instance type, placement, region, etc.
keyed_groups:
  - key: tags['Role']
    prefix: Demo

# Set to ignore 403 errors (useful in more restrictive environments)
strict_permissions: False

# Set it to use the public ip address to connect
# Change to private_ip_address to use Private IP for connection
compose:
  ansible_host: public_ip_address