- hosts: Demo_Secondary
  gather_facts: yes

  vars:
    demo_main_net: "{{ hostvars[groups['Demo_Primary'][0]]['ansible_facts']['default_ipv4'] }}"
    demo_main_dns: "{{ hostvars[groups['Demo_Primary'][0]]['ansible_facts']['dns'] }}"

  name: Set up Clients
  tasks:

    - name: Create Demo Directory
      become: yes
      ansible.builtin.file:
        path: /etc/demo
        state: directory
        mode: '0755'